.advantage {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  fill: #555555;
  cursor: pointer;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
  }
  &__title {
    color: #555555;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    padding-top: 12px;
  }
  &__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    padding-bottom: 20px;
  }
  &:after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }
  &:hover {
    fill: $menu-link-hover;
    & > h2 {
      color: $menu-link-hover;
    }
    &:after {
      background-color: $menu-link-hover;
    }
  }
}

@media (max-width: $large) {
  .advantage {
    display: none;
    &__img {
      width: 40px;
      height: 40px;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 12px;
    }
  }
}
@media (max-width: $medium) {
  .advantage {
    margin-bottom: 20px;
    width: 45%;
  }
}

