.blog {
  width: 23%;
  padding-top: 40px;
  & > div:last-of-type {
    border: none;
  }
  &__title {
    color: $white;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }
  &__item {
    font-family: Montserrat;
    font-weight: 300;
    border-bottom: 2px solid #252525;
    cursor: pointer;
    &:hover {
      & > p:first-child {
        color: $white;
      }
      & > p {
        color: $menu-link-hover;
      }
    }
  }
  &__item-date {
    color: #363636;
    font-size: 12px;
    line-height: 1.67;
    padding-top: 9px;
  }
  &__item-text {
    color: #555555;
    font-size: 14px;
    line-height: 1.43;
  }
}
