.copyright {
  &__item {
    &:after {
      content: '|';
      padding-right: 7px;
      padding-left: 7px;
    }
    &:last-child:after {
      content: none;
    }
  }
  &__link span {
    color: #959595;
    &:hover {
      text-decoration: none;
      color: $menu-link-hover;
    }
  }
  &__link {
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.54;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $menu-link-hover;
    }
  }
}

@media (max-width: $large) {
  .copyright {
    &__item {}
    &__link {
      font-size: 10px;
    }
  }
}

@media (max-width: $medium) {
  .copyright {
    &__item {}
    &__link {}
  }
}

@media (max-width: $small) {
  .copyright {
    &__item {}
    &__link {}
  }
}
