.design {
  &__item {
    &:after {
      content: '|';
      padding-right: 7px;
      padding-left: 7px;
    }
    &:last-child:after {
      content: none;
    }
  }
  &__link span {
    color: #959595;
    &:hover {
      text-decoration: none;
      color: $menu-link-hover;
    }
  }
  &__link {
    color: #555555;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.54;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $menu-link-hover;
    }
  }
}

@media (max-width: $large) {
  .design {
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      white-space: nowrap;
    }
  }
}
