.features {
  display: flex;
  justify-content: center;
  &__wrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 7%;
  }
}

@media (max-width: $large) {
  .features {
    display: none;
  }
}

@media (max-width: $medium) {
  .features {
    &__wrapper {
      flex-wrap: wrap;
    }
  }
}

