.page-footer {
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 46px;
    padding-right: 71px;
  }
}
