.menu {
  position: absolute;
  top: 50px;
  right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  &__item-link {
    text-decoration: none;
    color: $white;
    fill: $white;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      fill: $menu-link-hover;
      color: $menu-link-hover;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
 .mobile-menu__button-icon {
   display: none;
 }

 @media (max-width: $large) {
   .menu {
     &__item-link {
       font-size: 10px;
       &:hover {
         font-size: 10px;
       }
     }
   }
 }

@media (max-width: $medium) {
  .mobile-menu__button-icon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 40px;
    padding: 0;
    z-index: 2;
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
  .menu {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 100px;
    right: 0;
    left: 0;
    &__item {
      background-color: #362f2d;
      border: 1px solid #d1d1d1;
      &:nth-child(9) {
        display: none;
      }
      &:last-child {
        display: none;
      }
    }
    &__item-link {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      &:hover {
        font-size: 14px;
      }
    }
  }
}

.mobile-menu {
  display: flex;
}
@media (max-width: $medium) {
  .mobile-menu {
    display: block;
  }
}


