.menu {
  position: absolute;
  top: 60px;
  right: 15px;
  display: flex;
  flex-direction: row;
  list-style: none;
  &__item-link {
    text-decoration: none;
    color: $white;
    fill: $white;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      fill: $menu-link-hover;
      color: $menu-link-hover;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
