.mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 81px;
  &__wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__text-block {
    padding-top: 105px;
    max-width: 660px;
  }
  &__title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
  }
  &__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding-top: 15px;
  }
  &__list {
    padding-top: 15px;
    padding-left: 45px;
    list-style: none;
  }
  &__list-item {
    position: relative;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    &:before {
      content: url('../images/icon-list-dot.svg');
      position: absolute;
      left: -37px;
      top: 5px;
    }
  }
}
@media (max-width: $large) {
  .mobile {
    &__img {
      width: 50%;
      padding-top: 80px;
    }
    &__text-block {
      width: 50%;
    }
  }
}
@media (max-width: $medium) {
  .mobile {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: auto;
      padding-top: 0;
    }
    &__text-block {
      width: auto;
    }
  }
}
@media (max-width: $small) {
  .mobile {
    &__text-block {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
    }
  }
}
