.page-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 2;
  height: 1024px;
  width: 100vw;
}
