.page-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  height: 140px;
  width: 100vw;
  transition: background 0.5s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(27, 30, 33, 0.95);
}
