.social {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #191919;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 20px;
  }
}

@media (max-width: $large) {
  .social {
    display: none;
  }
}
