.statistics {
  width: 100%;
  max-width: 1920px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 13% 59px 13%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: $white;
    }
  }
  &__item-img {}
  &__item-num {
    color: $white;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 0.75;
    padding-top: 28px;
  }
  &__item-text {
    color: $menu-link-hover;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-transform: uppercase;
    padding-bottom: 7px;
    text-align: center;
  }
}

@media (max-width: $large) {
  .statistics {
    &__wrapper {
      margin-right: auto;
      margin-left: auto;
      justify-content: center;
    }
    &__item {}
    &__item-img {
      width: 40px;
      height: 40px;
    }
    &__item-num {
      font-size: 40px;
    }
    &__item-text {
      font-size: 12px;
    }
  }
}
@media (max-width: $medium) {
  .statistics {
    &__wrapper {}
    &__item {}
    &__item-img {
      width: 30px;
      height: 30px;
    }
    &__item-num {
      font-size: 30px;
    }
    &__item-text {
      font-size: 10px;
    }
  }
}
@media (max-width: $small) {
  .statistics {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__item {
      width: 30%;
      margin-bottom: 38px;
    }
    &__item-img {
      width: 25px;
      height: 25px;
    }
    &__item-num {
      font-size: 25px;
    }
    &__item-text {}
  }
}
