.statistics {
  width: 100%;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  &__wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 100px 59px 100px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 20px;
    &:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: $white;
    }
  }
  &__item-img {}
  &__item-num {
    color: $white;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 0.75;
    padding-top: 28px;
  }
  &__item-text {
    color: $menu-link-hover;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-transform: uppercase;
    padding-bottom: 7px;
    text-align: center;
  }
}
