.widget {
  padding-top: 40px;
  &__title {
    color: $white;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
  }
  &__wrapper {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
  }
  &__img {
    max-width: 130px;
    padding: 0;
    margin: 0 6px 6px 0;
  }
}
