a {
  text-decoration: none;
  color: white; }

body {
  position: relative;
  overflow-x: hidden; }

.container-fluid {
  position: relative;
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.carousel {
  max-width: 1920px;
  z-index: 5; }

.carousel-item {
  position: relative;
  width: 100%; }

.nav-tabs {
  border: none; }

.nav-tabs .nav-link {
  border: none; }

.nav-link {
  border: none; }
  .nav-link:hover {
    border: none; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #c7b299;
  background-color: transparent;
  border-color: transparent; }

.slick-dots {
  bottom: 25px; }

.slick-dots li.slick-active button {
  padding-bottom: 0; }

.slick-dots li button:before {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ffffff;
  color: transparent;
  opacity: 0.5; }

.slick-dots li button:hover::before {
  background-color: #c7b299; }

.slick-dots li.slick-active button:before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #d3c1ad;
  color: transparent;
  background-color: transparent;
  opacity: 1; }

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  opacity: 0.5; }

.page-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  height: 140px;
  width: 100vw;
  transition: background 0.5s ease; }

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(27, 30, 33, 0.95); }

.logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 30px;
  top: 40px;
  cursor: pointer; }
  .logo__img {
    width: 64px;
    height: 56px; }
  .logo__trademark-link {
    width: 115px;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    line-height: 56px; }
    .logo__trademark-link:hover {
      text-decoration: none;
      color: #ffffff; }

.menu {
  position: absolute;
  top: 60px;
  right: 15px;
  display: flex;
  flex-direction: row;
  list-style: none; }
  .menu__item-link {
    text-decoration: none;
    color: #ffffff;
    fill: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer; }
    .menu__item-link:hover {
      text-decoration: none;
      fill: #c7b299;
      color: #c7b299;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300; }

.sample {
  position: absolute;
  max-width: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: auto;
  margin-left: auto; }
  .sample__title {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500; }
  .sample__tagline {
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700; }
  .sample__text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5; }
  .sample__button-link {
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    border: 0;
    background-color: #998675;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.64;
    text-transform: uppercase;
    padding: 15px 38px;
    cursor: pointer;
    text-decoration: none; }

.arrow-prev {
  width: 40px;
  height: 73px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 6%;
  z-index: 2;
  fill: #ffffff;
  opacity: 0.5; }
  .arrow-prev:hover {
    fill: #d3c1ad; }

.arrow-next {
  width: 40px;
  height: 73px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 6%;
  left: auto;
  z-index: 2;
  fill: #ffffff;
  opacity: 0.5; }
  .arrow-next:hover {
    fill: #d3c1ad; }

.features {
  display: flex;
  justify-content: center; }
  .features__wrapper {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 7%; }

.advantage {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  fill: #555555;
  cursor: pointer; }
  .advantage__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px; }
  .advantage__title {
    color: #555555;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    padding-top: 12px; }
  .advantage__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    padding-bottom: 20px; }
  .advantage:after {
    content: '';
    width: 70px;
    height: 3px;
    background-color: #f1eee9; }
  .advantage:hover {
    fill: #c7b299; }
    .advantage:hover > h2 {
      color: #c7b299; }
    .advantage:hover:after {
      background-color: #c7b299; }

.slider__wrapper {
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;
  margin-bottom: -83px;
  z-index: 1; }

.slider__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 17%;
  padding-right: 17%; }

.slider__header-title {
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600; }

.slider__header-text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center; }

.slider__item-wrapper {
  display: flex;
  padding-top: 24px; }

.slider__item {
  width: 770px;
  height: 482px; }
  .slider__item:first-child {
    margin-right: -540px;
    margin-top: 82px; }
  .slider__item:nth-child(2) {
    z-index: 5; }
  .slider__item:last-child {
    margin-left: -540px;
    margin-top: 82px; }

.slider__item-img {
  width: 100%;
  height: 100%; }

.slider__footer {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  padding: 40px 62px 23px 60px;
  z-index: 5;
  position: relative; }

.slider__footer-info {
  display: flex;
  flex-direction: column; }

.slider__footer-title span {
  color: #c7b299; }

.slider__footer-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 400; }

.slider__footer-text {
  color: #615855;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300; }

.slider__footer-link {
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-transform: uppercase;
  padding: 13px 26px; }

.projects__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 76px;
  overflow: unset; }

.projects__header-title {
  color: #555555;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600; }

.projects__header-text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  padding-top: 5px; }

.projects__wrapper {
  max-width: 1197px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.projects__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fbfaf8;
  margin-bottom: 30px;
  cursor: pointer; }
  .projects__item:hover {
    background-color: #362f2d; }
    .projects__item:hover > :first-child {
      opacity: 0.3; }
    .projects__item:hover > h3 {
      color: #ffffff;
      background-color: transparent; }
    .projects__item:hover > p {
      color: #c7b299;
      background-color: transparent; }

.projects__item-wrapper {
  width: 100%;
  height: 237px; }

.projects__item-img {
  width: 100%;
  height: 100%; }

.projects__item-info {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 7px;
  padding-left: 30px; }

.projects__item-title {
  color: #c7b299;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 500; }

.projects__item-tag {
  color: #d1d1d1;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43; }

.projects__button {
  display: flex;
  justify-content: center;
  padding-bottom: 80px; }

.projects__button-link {
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  cursor: pointer;
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-transform: uppercase;
  padding: 12px 43px;
  border: none; }

@media (max-width: 992px) {
  .projects__header-title {
    font-size: 27px; }
  .projects__header-text {
    font-size: 13px; }
  .projects__item-wrapper {
    height: 192px; } }

@media (max-width: 768px) {
  .projects__header-title {
    font-size: 25px; }
  .projects__header-text {
    font-size: 11px; }
  .projects__wrapper {
    max-width: 770px;
    justify-content: space-around; }
  .projects__item {
    width: 37%; }
  .projects__item-info {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px; }
  .projects__item-title {
    font-size: 16px; }
  .projects__item-tag {
    font-size: 11px; } }

@media (max-width: 576px) {
  .projects__header-title {
    font-size: 23px; }
  .projects__wrapper {
    max-width: 390px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }
  .projects__item {
    width: 66%; } }

.lds-ring {
  position: relative;
  width: 100%;
  height: 710px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 0.5;
  margin-bottom: -62%; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 6px;
  border: 6px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.category {
  display: flex;
  justify-content: space-between;
  padding: 20px 25% 40px; }
  .category__item {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 5px 15px; }
    .category__item:hover {
      color: #ffffff;
      border-radius: 3px;
      background-color: #998675; }

@media (max-width: 992px) {
  .category__item {
    font-size: 12px;
    padding: 2px 5px; } }

@media (max-width: 768px) {
  .category {
    padding: 12px 20% 25px; }
    .category__item {
      font-size: 10px;
      padding: 2px 4px; } }

@media (max-width: 576px) {
  .category {
    padding: 12px 15% 25px; } }

.promo {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: url("/HTML5-JQuery-landing-demo/source/images/promo-img.jpg") no-repeat;
  background-size: cover; }
  .promo__wrapper {
    background-color: rgba(17, 17, 17, 0.5);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 16% 28% 14%; }
  .promo__button {
    cursor: pointer;
    padding-top: 14px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.2;
    align-self: center; }
  .promo__button-img {
    z-index: 5;
    fill: #ffffff; }
  .promo__description {
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    align-content: center; }
  .promo__description-title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500; }
  .promo__description-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75; }
  .promo__time {
    align-self: center;
    padding-top: 16px;
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; }

.mobile {
  display: flex;
  flex-direction: row;
  padding-top: 81px;
  padding-left: 29px; }
  .mobile__text-block {
    padding-top: 105px;
    padding-left: 27px; }
  .mobile__title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400; }
  .mobile__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding-top: 15px; }
  .mobile__list {
    padding-top: 15px;
    padding-left: 100px;
    list-style: none; }
  .mobile__list-item {
    position: relative;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 2; }

.statistics {
  width: 100%;
  max-width: 1920px;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center; }
  .statistics__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 9% 59px 13%; }
  .statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px; }
    .statistics__item:after {
      content: '';
      width: 30px;
      height: 2px;
      background-color: #ffffff; }
  .statistics__item-num {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 0.75;
    padding-top: 28px; }
  .statistics__item-text {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    text-transform: uppercase;
    padding-bottom: 7px; }

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; }
  .recent__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 87px 15% 18px; }
  .recent__header-title {
    color: #555555;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-align: center; }
  .recent__header-text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
    padding-top: 8px; }
  .recent__wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 37px; }
  .recent__button {
    fill: #d1d1d1;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px; }
  .recent__button-left, .recent__button-right {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer; }
    .recent__button-left:hover, .recent__button-right:hover {
      fill: #c7b299; }

.post {
  position: relative;
  width: 32%;
  display: flex;
  flex-direction: column;
  border: 1px solid #f8f8f8;
  cursor: pointer; }
  .post:hover {
    text-decoration: none;
    background-color: #362f2d; }
    .post:hover > img {
      opacity: 0.3; }
    .post:hover > :nth-child(2) > :first-child {
      background-color: #c7b299; }
    .post:hover > :nth-child(2) > :last-child {
      background-color: #a48d72; }
    .post:hover > :nth-child(3) > h5 {
      color: #c7b299; }
    .post:hover > :nth-child(3) > p {
      color: #ffffff; }
  .post__img {
    width: 100%;
    height: 220px; }
  .post__date {
    position: absolute;
    top: 20px;
    left: 20px; }
  .post__date-day {
    width: 50px;
    height: 35px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 0.83;
    display: flex;
    justify-content: center;
    align-items: center; }
  .post__date-month {
    width: 50px;
    height: 25px;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.67;
    display: flex;
    justify-content: center;
    align-items: center; }
  .post__body {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 29px;
    padding-bottom: 28px; }
  .post__title {
    color: #555555;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500; }
  .post__text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    padding-top: 5px;
    padding-right: 2px; }
  .post__button {
    display: flex; }
  .post__link {
    color: #c7b299;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43; }
  .post__button-arrow {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #c7b299;
    margin-top: 6px;
    margin-left: 6px; }

.clients {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  background: url("HTML5-JQuery-landing-demo/source/images/clients-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .clients__wrapper {
    background-color: rgba(17, 17, 17, 0.5);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12% 8% 11% 6%; }
  .clients__logo {
    display: flex; }

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #191919; }
  .social__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 4% 9%; }

.company {
  width: 22%; }
  .company__logo {
    display: flex;
    padding-top: 18px; }
  .company__logo-trademark {
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px; }
  .company__text {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    padding-top: 22px; }
  .company__button {
    display: flex;
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.43;
    padding-top: 24px;
    cursor: pointer; }
  .company__button-arrow {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: #d1d1d1;
    margin-top: 5px;
    margin-left: 5px; }

.blog {
  width: 23%;
  padding-top: 40px; }
  .blog > div:last-of-type {
    border: none; }
  .blog__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700; }
  .blog__item {
    font-family: Montserrat;
    font-weight: 300;
    border-bottom: 2px solid #252525;
    cursor: pointer; }
    .blog__item:hover > p:first-child {
      color: #ffffff; }
    .blog__item:hover > p {
      color: #c7b299; }
  .blog__item-date {
    color: #363636;
    font-size: 12px;
    line-height: 1.67;
    padding-top: 9px; }
  .blog__item-text {
    color: #555555;
    font-size: 14px;
    line-height: 1.43; }

.twitter {
  width: 23%;
  padding-top: 40px; }
  .twitter > div:last-of-type {
    border: none; }
  .twitter__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700; }
  .twitter__post {
    color: #555555;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.43;
    padding-top: 9px;
    border-bottom: 2px solid #252525; }
  .twitter__post-text a {
    color: #00bff3;
    text-decoration: none; }
  .twitter__post:last-child a {
    color: #959595; }
  .twitter__post-date {
    color: #363636;
    font-size: 12px;
    line-height: 1.67; }

.widget {
  width: 25%;
  padding-top: 40px; }
  .widget__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700; }
  .widget__wrapper {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 18px; }
  .widget__img {
    padding: 6px; }

.page-footer {
  width: 100%;
  background-color: #111111;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%; }
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 46px;
    padding-right: 71px; }

@media (max-width: 768px) {
  .page-footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px; } }

.copyright__item:after {
  content: '|';
  padding-right: 7px;
  padding-left: 7px; }

.copyright__item:last-child:after {
  content: none; }

.copyright__link span {
  color: #959595; }
  .copyright__link span:hover {
    text-decoration: none;
    color: #c7b299; }

.copyright__link {
  color: #555555;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.54;
  cursor: pointer; }
  .copyright__link:hover {
    text-decoration: none;
    color: #c7b299; }

@media (max-width: 992px) {
  .copyright__link {
    font-size: 10px; } }

.design__item:after {
  content: '|';
  padding-right: 7px;
  padding-left: 7px; }

.design__item:last-child:after {
  content: none; }

.design__link span {
  color: #959595; }
  .design__link span:hover {
    text-decoration: none;
    color: #c7b299; }

.design__link {
  color: #555555;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.54;
  cursor: pointer; }
  .design__link:hover {
    text-decoration: none;
    color: #c7b299; }

@media (max-width: 992px) {
  .design__link {
    font-size: 10px; } }
