@font-face {
    font-family: "Roboto", sans-serif;
    src: local("Roboto Regular"),
    url("../fonts/Roboto-Regular.ttf") format(".ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: local("Montserrat Light"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format(".ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: local("Montserrat Regular"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format(".ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: local("Montserrat Extra-Light"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format(".ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: local("Raleway-Regular"),
    url("/HTML5-JQuery-landing-demo/source/fonts/Raleway-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: local("Raleway Medium"),
    url("../fonts/Raleway-Medium.ttf") format(".ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: local("Raleway Semi-Bold"),
    url("../fonts/Raleway-SemiBold.ttf") format(".ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: local("Raleway Bold"),
    url("../fonts/Raleway-Bold.ttf") format(".ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: local("Raleway Extra-Bold"),
    url("../fonts/Raleway-ExtraBold.ttf") format(".ttf");
    font-weight: 800;
    font-style: normal;
}


