.slick-dots {
  bottom: 25px;
}

.slick-dots li.slick-active button {
  padding-bottom: 0;
}

.slick-dots li button:before {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $white;
  color: transparent;
  opacity: 0.5;
}
.slick-dots li button:hover::before {
  background-color: $menu-link-hover;
}

.slick-dots li.slick-active button:before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #d3c1ad;
  color: transparent;
  background-color: transparent;
  opacity: 1;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  opacity: 0.5;
}

.slick-slide img {
  height: 100vh;
}
