a {
  text-decoration: none;
  color: white;
}

body {
  position: relative;
  overflow-x: hidden;
}

.no-scroll {
  overflow: scroll;
}
  @media (max-width: 768px) {
    .no-scroll {
      overflow: hidden;
    }
  }

